<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/copy_button.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/img.css" | relative_url }}">
  <link rel="shortcut icon" type="image/png" href="favicon.png">
  <script async src="//static.getclicky.com/101395795.js"></script>
  <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101395795ns.gif" /></p></noscript>
</head>
