---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <br>
  <hr/>
  <br>
  <div>
    <p>You can comment or add your reaction below by signing into your Github account.</p>
    <p>If you don't want to sign in here you can also comment directly on the Github discussions page and it will show up here.</p>
  </div>
  {% assign provider = site.comments.provider %}
  {% if provider == "giscus" %}
    {% assign giscus = site.giscus %}
    {% if giscus.repo %}
      <script src="https://giscus.app/client.js"
              data-repo={{ giscus.repo }}
              data-repo-id={{ giscus.repo-id }}
              data-category={{ giscus.category }}
              data-category-id={{ giscus.category-id }}
              data-mapping={{ giscus.mapping }}
              data-strict={{ giscus.strict }}
              data-reactions-enabled={{ giscus.reactions-enabled }}
              data-emit-metadata={{ giscus.emit-metadata }}
              data-input-position={{ giscus.input-position }}
              data-theme={{ giscus.theme }}
              data-lang={{ giscus.lang }}
              crossorigin={{ giscus.crossorigin }}
              async>
      </script>
    {% endif %}
  {% endif %}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
